*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
.jumbo-cont{
    max-width: 1100px;
    margin: auto;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding: 8rem 0;
}
.flex{
    display: flex;
}
.space-b{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.nav-bar{
    padding: 1.5rem 0;
}
.nav-bar ul li{
    padding:0 1rem;
    display: flex;
    align-items: center;
}
li a{
    text-decoration: none;
    color: black;
}
button.butt-blue{
    background-color: #0061ff;
    border: none;
    padding: .5rem 1rem;
    color: white;
}
.back-cyan{
    background-color: #b4d0e7;
}
div.jumbo-cont h1{
    font-size: 65px;
    font-weight: 1000;
    padding: 3rem 0;
}
div.jumbo-pr{
    width: 36%;
}
div.jumbo-pr button{
    margin: 1.5rem 0;
}
.annulla{
    padding-bottom: 3rem;
}
div.arrow::before{
    content: "\01F873";
    font-size: 47px;
}
.user::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f007";
}
.group::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\e533";
}
.folder::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f07b";
}
.share::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f1e0";
}
.building::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f1ad";
}
.check::before{
    content: "\2713";
    color: #0061ff;
    font-weight: 700;
}
.relative img{
    max-width: 724px;
}
.container > h2{
    font-size: 33px;
    padding-bottom: 3rem;
}
label{
    padding-right: 2rem;
}
.r-fatturazione{
    padding-bottom: 3rem;
}
.piano{
    padding-bottom: 3rem;
}
section.piano article, 
.team-section{
    border: 2px solid #dcdcde;
}
section.piano article > p, 
.team-section > p{
    text-align: center;
    border-bottom: 2px solid #dcdcde;
    padding: .5rem 0;
}
.lista-c, .lista-b{
    padding: 2rem 1rem;
}
div.lista-c> *{
    padding-bottom: 2rem;
}
.bold{
    font-weight: 700;
}
.light{
    font-weight: 200;
}
li h3{
    padding: 1rem 0;
}
div.lista-c ul li{
    padding-bottom: 1rem;
}
.lista-b section > *{
    padding-bottom: 2rem;
}
.partner{
    padding: 8rem 0;
}
.partner img{
    width: 610px;
}
.partner article{
    padding: 4rem 2rem
}
.partner article > *{
    padding-bottom: 2rem;
}
.operation-first article img, 
.operation-second article img{
    max-width: 300px;
}

.bar{
    color: #dcdcde;
    width: 45px;
    border-top-style: solid;
    border-top-width: 1px;
}
.gap{
    gap: 40px;
}
.center{
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #000000;
    color: white;
}
footer nav{
    padding: 3rem 0;
}
.foot{
    max-width: 1200px;
    margin: auto;
}
.prova{
    background-color: #A2D39B;
    width: 225px;
    height: 225px;
}
img{
    object-fit: contain;
}
.box div img{
    max-width: 60px;
}
.wrap{
    flex-wrap: wrap;
}
ul.quest li{
    display: flex;
    justify-content: space-between;
}