*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.space-b{
    justify-content: space-between;
}
.flex{
    display: flex;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.column{
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.nav-bar{
    padding: 1.5rem;
}
.nav-bar ul li{
    margin: 0 1rem;
}
.back-cyan{
    background-color: cyan;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.t-jumbo{
    text-align: center;
}
img{
    max-width: 300px;
}
.bar{
    width: 45px;
    border-top-style: solid;
    border-top-width: 1px;
}
.piano{
    padding: 2rem;
}
.gap{
    gap: 10px;
}