*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.space-b{
    justify-content: space-between;
}
.flex{
    display: flex;
}
.jumbo-cont{
    max-width: 1000px;
    margin: auto;
}
.container{
    max-width: 800px;
    margin: auto;
}
.column{
    flex-direction: column;
}
ul{
    list-style-type: none;
}
.nav-bar{
    padding: 1.5rem;
}
.nav-bar ul li{
    margin: 0 1rem;
}
.back-cyan{
    background-color: cyan;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
img{
    max-width: 300px;
}
.bar{
    width: 45px;
    border-top-style: solid;
    border-top-width: 1px;
}
.piano{
    padding: 2rem;
}
.gap{
    gap: 10px;
}
.center{
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #000000;
    color: white;
}
footer nav{
    padding: 3rem 0;
}
.foot{
    max-width: 1200px;
    margin: auto;
}
.prova{
    background-color: #A2D39B;
    width: 225px;
    height: 225px;
}
img{
    object-fit: contain;
}
.box div img{
    max-width: 60px;
}
.wrap{
    flex-wrap: wrap;
}